{% extends 'base.html' %} 
{% block title %} About us | 
{% endblock title %} 

{% block body%}
<div class="container-fluid px-0">
  <image src="static/23.jpg" class="d-block w-100"></image>
</div>
<div class="container" id="about">
  <div class="jumbotron jumbotron-fluid">
    <div class="container my-5">
      <h1 class="display-4 text-center">About Us</h1>
      <p class="lead my-2">
        We are the largest Atletico De Madrid fan page in the world. We try our
        best to increase the number of fans throughout the globe by providing
        the latest news and updates about the club. We also upload pictures of
        the latest jerseys every season.<br /><br />

        Fans are free to ask any questions regarding the club, and we will try
        our best to answer those questions through email. Supporters may also
        sign up and create accounts to show their support for the club.
      </p>
    </div>
  </div>
</div>
{% endblock body %}
