{% extends 'base.html' %}

{% block title %}
Contact | 
{% endblock title %}

{% block content %}
<div class="container-fluid px-0"> <!--container-fluid extends the width of an image to fit into the whole width of the window--> <!--px stands for padding in x axis-->
    <img src="/static/telephone.jpg" class="d-block w-100"> <!--my stands for margin y axis-->
</div>

<div class = "container my-10" >
    <h2 class = 'text-center  my-5'>Contact Us</h2>
    <form method="post" action="/contact">
    {% csrf_token %}    <!--csrf_token is ensures whether the user who wants to submit the form is actually submitting the form or a hacker is submitting it from an external source! -->
        <div class="mb-3">
            <label for="name" class="form-label">Name: </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address: </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email id">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number: </label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Please type your query here.</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <center><button class="btn btn-primary" type = "Submit">Submit</button><center><!--class="btn btn-primary" for primary bootstrap button design-->
    </form>
</div>

<div>
&nbsp;
</div>
<div class="footer">
        <p class="footer-text-left">
            Real Madrid © 2024 All rights reserved
        </p>
        <ul class="footer-text-right">
            <a class="fly" href="https://www.emirates.com/es/spanish/" style="text-decoration: none;"><li>Fly Emirates</li></a>
            <a class="adid" href="https://www.adidas.co.uk/" style="text-decoration: none;"><li>Adidas</li></a>
            <a class="yt" href="https://www.youtube.com/realmadrid" style="text-decoration: none;"><li>YouTube</li></a>
        </ul>
    </div>
<style>
  .footer-text{
    color: gray;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 10px;
}
.footer-text.i{
    padding-bottom:15px;
}
.ticket{
    position: relative;
    top: 20px;
    left: 10px;
}
.footer{
    height: 60px;
    background-color: lightgray;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text-left{
    font-size: 10px;
    color:white;
    font-weight: 400;
    line-height: 20px;
    display: contents;
}
.footer-text-right {
    display: contents;
}
.fly{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    left: 120px;
}
.adid{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
}
.yt{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    right: 120px;
}
</style>
{% endblock content %}
