{% extends 'base.html' %}
{% load static %}
{% block title %} Honours {% endblock %}
{%block content %}

<div class="flag-1">
    <h2 class="header-honours">Football honours</h2>
</div>
<div class="container">
    <div class="goold">
    <div class="flag-2">
        <img src="static/mejor-club-del-siglo-xx.png">
        <h2 class="text-xx">
            The Best Club of the 20th Century FIFA Trophy
        </h2>
    </div>
    </div>
     <div class="goold">
    <div class="flag-2">
        <img src="static/champions-ucl.png">
        <div class="ucl">
            <p class="win">14</p>
        <h2 class="text-ucl">European Cups</h2>
            <p class="date-ucl-1">1955-56  1956-57  1957-58  1958-59  1959-60  1965-66  1997-98</p>
            <p class="date-ucl-2">1999-00  2001-02  2013-14  2015-16  2016-17  2017-18  2021-22</p>
        </div>
    </div>
    </div>
    <div class="goold">
    <div class="flag-2">
        <img src="static/copa-mundial-de-clubes.png">
        <div class="ucl">
            <p class="win">8</p>
        <h2 class="text-ucl">FIFA Club World Cups</h2>
            <p class="date-wc">1960  1998  2002  2014  2016  2017  2018  2022</p>
        </div>
    </div>
    </div>
    <div class="goold">
    <div class="flag-2">
        <img src="static/supercopas-de-europa.png">
        <div class="ucl">
            <p class="win">5</p>
        <h2 class="text-ucl">European Super Cups</h2>
            <p class="date-uc">2002  2014  2016  2017  2022</p>
        </div>
    </div>
    </div>
    <div class="goold">
    <div class="flag-2">
        <img src="static/supercopas-de-europa.png">
        <div class="ucl">
            <p class="win">2</p>
        <h2 class="text-ucl">UEFA Cups</h2>
            <p class="date-ufc">1984-85  1985-86</p>
        </div>
    </div>
    </div>
    <div class="goold">
    <div class="flag-2">
        <img src="static/liga_rm.png">
        <div class="ucl">
            <p class="win">35</p>
        <h2 class="text-ucl">National Leagues</h2>
            <p class="date-nc-1">1931-32  1932-33  1953-54  1954-55  1956-57  1957-58  1960-61 </p>
            <p class="date-nc-2">1961-62  1962-63  1963-64  1964-65  1966-67  1967-68  1968-69  </p>
            <p class="date-nc-3">1971-72  1974-75  1975-76  1977-78  1978-79  1979-80  1985-86  </p>
            <p class="date-nc-4">1986-87  1987-88  1988-89  1989-90  1994-95  1996-97  2000-01 </p>
            <p class="date-nc-5">2002-03  2006-07  2007-08  2011-12  2016-17  2019-20  2021-22 </p>
        </div>
    </div>
    </div>
     <div class="goold">
    <div class="flag-2">
        <img src="static/copas-del-rey.png">
        <div class="ucl">
            <p class="win">20</p>
        <h2 class="text-ucl">Spanish Cups</h2>
            <p class="date-cc-1">1904-05  1905-06  1906-07  1907-08  1916-17  1933-34  1935-36  </p>
            <p class="date-cc-2">1945-46  1946-47  1961-62  1969-70  1973-74  1974-75  1979-80   </p>
            <p class="date-cc-3">1981-82  1988-89  1992-93  2010-11  2013-14 2022-2023  </p>
        </div>
    </div>
    </div>
    <div class="goold">
    <div class="flag-2">
        <img src="static/supercopas-de-espana.png">
        <div class="ucl">
            <p class="win">12</p>
        <h2 class="text-ucl">Spanish Super Cups</h2>
            <p class="date-ufe">1988  1989  1990  1993  1997  2001  2003  2008  2012  2017  2020  2022</p>
        </div>
    </div>
    </div>
     <div class="goold">
    <div class="flag-2">
        <img src="static/campeonatos-regionales.png">
        <div class="ucl">
            <p class="win">18</p>
        <h2 class="text-ucl">Regional Championship</h2>
           <p class="date-rg-1">1903-04  1904-05  1905-06  1906-07  1907-08  1912-13  1915-16 </p>
            <p class="date-rg-2">1916-17  1917-18  1919-20  1921-22  1922-23  1923-24  1925-26  </p>
            <p class="date-rg-3">1926-27  1928-29  1929-30  1930-31 </p>
        </div>
    </div>
    </div>
    <div class="goold">
    <div class="flag-2">
        <img src="static/trofeos-mancomunados.png">
        <div class="ucl">
            <p class="win">5</p>
        <h2 class="text-ucl">Mancomunados Trophies</h2>
            <p class="date-man">1931-32  1932-33  1933-34  1934-35  1935-36</p>
        </div>
    </div>
    </div>
</div>
<style>
    .flag-1{
    background:#e2d8d8;
    width:100%;
    height:75px;
}
.header-honours{
    text-align: center;
    padding-top: 15px;
}
.goold{
    border: 2px solid #ffff00;
    margin-top:20px;
}
.flag-2{
    display: flex;
    background:whitesmoke;
    width: 100%;
}
.text-xx{
    text-transform: capitalize;
    text-align: center;
    position: relative;
    left: 100px;
}
.ucl{
    display: flex;
    flex-wrap: wrap;
}
.win{
    color: gold;
    font-size: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}
.text-ucl{
    position: relative;
    top: 20px;
    left: 20px;
}
.date-ucl-1{
    position: relative;
    top: 55px;
    right: 185px;
}
.date-ucl-2{
    position: relative;
    left: 77px;
    bottom: 70px;
}
.date-wc{
    position: relative;
    top: 55px;
    right: 285px;
}
.date-uc{
    position: relative;
    top: 55px;
    right: 280px;
}
.date-ufc{
    position: relative;
    top: 55px;
    right: 130px;
}
.date-nc-1{
    position: relative;
    top: 55px;
    right: 225px;
}
.date-nc-2{
    position: relative;
    left: 70px;
    bottom: 25px;
}
.date-nc-3{
    position: relative;
    top: 10px;
    right: 365px;
}
.date-nc-4{
    position: relative;
    left: 70px;
    bottom: 25px;
}
.date-nc-5{
    position: relative;
    top: 10px;
    right: 365px;
}
.date-cc-1{
    position: relative;
    top: 55px;
    right: 165px;
}
.date-cc-2{
    position: relative;
    left: 70px;
    bottom: 65px;
}
.date-cc-3{
    position: relative;
    bottom: 35px;
    right: 365px;
}
.date-ufe{
    position: relative;
    top: 55px;
    right: 250px;
}
.date-rg-1{
    position: relative;
    top: 55px;
    right: 320px;
}
.date-rg-2{
    position: relative;
    left: 70px;
    bottom: 70px;
}
.date-rg-3{
    position: relative;
    right: 363px;
    bottom: 50px;
}
.date-man{
    position: relative;
    top: 55px;
    right: 330px;
}
form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
</style>
<div class="footer">
        <p class="footer-text-left">
            Real Madrid © 2024 All rights reserved
        </p>
        <ul class="footer-text-right">
            <a class="fly" href="https://www.emirates.com/es/spanish/" style="text-decoration: none;"><li>Fly Emirates</li></a>
            <a class="adid" href="https://www.adidas.co.uk/" style="text-decoration: none;"><li>Adidas</li></a>
            <a class="yt" href="https://www.youtube.com/realmadrid" style="text-decoration: none;"><li>YouTube</li></a>
        </ul>
    </div>
<style>
  .footer-text{
    color: gray;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 10px;
}
.footer-text.i{
    padding-bottom:15px;
}
.ticket{
    position: relative;
    top: 20px;
    left: 10px;
}
.footer{
    height: 60px;
    background-color: lightgray;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text-left{
    font-size: 10px;
    color:white;
    font-weight: 400;
    line-height: 20px;
    display: contents;
}
.footer-text-right {
    display: contents;
}
.fly{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    left: 120px;
}
.adid{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
}
.yt{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    right: 120px;
}
</style>
{% endblock content %}
