{% extends 'base.html' %}

{% block title %}
Breaking News |
{% endblock title %}

{% block body %}

<div class="container-fluid px-0">
    <img src="static/logo1.jpg" class="d-block w-100"></img>
</div>

<div id="main-content" class="container my-10 mx-10">
    <div class="jumbotron">
        <h3 class="display-4" id="newsflash">News Flash</h3>
        <hr class="my-4">
        <strong>Diego Simeone set for historic achievement ahead of Atletico Madrid ve Sevilla<strong><br /><br />
                <p class="lead">
                    <a class="btn btn-success btn-sm"
                        href="https://madriduniversal.com/diego-simeone-set-for-historic-achievement-ahead-of-atletico-madrid-ve-sevilla/"
                        role="button">Learn more</a>
                </p>

                <hr class="my-4">
        <strong>Atletico Madrid target to leave Liverpool in 2023<strong><br /><br />
                <p class="lead">
                    <a class="btn btn-success btn-sm"
                        href="https://www.football-espana.net/2023/03/03/atletico-madrid-target-liverpool-2023"
                        role="button">Learn more</a>
                </p>

                <hr class="my-4">
        <strong>Newcastle transfer news: Atletico Madrid reluctant to sign £10.5m target<strong><br /><br />
                <p class="lead">
                    <a class="btn btn-success btn-sm"
                        href="https://www.hitc.com/en-gb/2023/03/02/newcastle-transfer-news-atletico-madrid-reluctant-to-sign-10-5m-target/"
                        role="button">Learn more</a>
                </p>

                <hr class="my-4">
        <strong>Atletico Madrid to rival Barcelona for Inigo Martinez<strong><br /><br />
                <p class="lead">
                    <a class="btn btn-success btn-sm"
                        href="https://www.sportsmole.co.uk/football/barcelona/transfer-talk/news/atletico-madrid-to-rival-barcelona-for-inigo-martinez_508156.html"
                        role="button">Learn more</a>
                </p>

                <hr class="my-4">
        <strong>Antoine Griezmann makes startling admission on Atletico Madrid return – ‘I deserved it’<strong><br /><br />
                <p class="lead">
                    <a class="btn btn-success btn-sm"
                        href="https://www.football-espana.net/2023/03/01/antoine-griezmann-makes-startling-admission-on-atletico-madrid-return-i-deserved-it"
                        role="button">Learn more</a>
                </p>

                <hr class="my-4">
        <strong>Inter Milan, Juventus, Real Madrid & Atletico Madrid All Keen On Roberto Firmino Who’ll Leave Liverpool This Summer, Italian Media Report<strong><br /><br />
                <p class="lead">
                    <a class="btn btn-success btn-sm"
                        href="https://sempreinter.com/2023/03/03/inter-milan-juventus-real-madrid-atletico-madrid-all-keen-on-roberto-firmino-wholl-leave-liverpool-this-summer-italian-media-report/"
                        role="button">Learn more</a>
                </p>
    </div>
</div>
{% endblock body %}