{% include 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="feature">
<h1>Заполните данные</h1>

 <form method="POST" action="{% url 'purchase_page' %}">
{% csrf_token %}
{{ form.as_p }}
     {%if user.is_authenticated %}
     <button type="submit" class="btn btn-info">Завершить заказ</button>
     {% endif %}
 </form>
</div>
<style>
    .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

p{
color:white;
}
.feature {
    background-image: url('static/real_madrid.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #D3D3D3;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
</style>
<div class="footer">
        <p class="footer-text-left">
            Real Madrid © 2024 All rights reserved
        </p>
        <ul class="footer-text-right">
            <a class="fly" href="https://www.emirates.com/es/spanish/" style="text-decoration: none;"><li>Fly Emirates</li></a>
            <a class="adid" href="https://www.adidas.co.uk/" style="text-decoration: none;"><li>Adidas</li></a>
            <a class="yt" href="https://www.youtube.com/realmadrid" style="text-decoration: none;"><li>YouTube</li></a>
        </ul>
    </div>
<style>
  .footer-text{
    color: gray;
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 10px;
}
.footer-text.i{
    padding-bottom:15px;
}
.ticket{
    position: relative;
    top: 20px;
    left: 10px;
}
.footer{
    height: 60px;
    background-color: lightgray;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text-left{
    font-size: 10px;
    color:white;
    font-weight: 400;
    line-height: 20px;
    display: contents;
}
.footer-text-right {
    display: contents;
}
.fly{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    left: 120px;
}
.adid{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
}
.yt{
    font-size: 10px;
    color: white;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    right: 120px;
}
</style>
{% endblock %}

